@font-face {
    font-family: "Segoe UI";
    src: url(./fonts/SegoeUI.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url(./fonts/SegoeUI-Bold.woff) format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: bold;
}